<div class="container">
  <header class="headeris">
    <h2 class="title">Online Inventory</h2>
  </header>
  <div class="block">
    <add-product
      class="blocking"
      (productAdded)="onProductAdd($event)"
    ></add-product>
  </div>
  <div class="block">
    <list-porducts
      [products]="products"
      (productsShopping)="onProductShow($event)"
      (AllDeletedProduct)="onDeleteProduct($event)"
      class="blocking"
    ></list-porducts>
  </div>
  <div class="block">
    <list-register class="blocking" [products]="productsShow"></list-register>
  </div>
</div>
